.gradient-background {
  background: linear-gradient(300deg, #3bc5f7, #4ca3ff, #3448ff);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#skills{
    color: #001aff;
}